
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="create">
    <label>Car Color:</label>
    <input type="text" name="Color" placeholder="Color"/>
    <label>Car Model:</label>
    <input type="text" placeholder="Model" name="Model" />
    <label>Car Manfacture:</label>
    <input type="text" placeholder="Manfacture" name="Manfacture" />
    <input type="submit" />
</form>
